body {
    background-color: blanchedalmond;
    margin: 0;
}

#board {
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;

    position:relative;
}

#player {
    background-color: #805CE7;
    position: absolute;
}

.obstacle {
    background-color: #E8775D;
    position: absolute;
}